
NET "io_SDR_DQ[0]" LOC = P146;
NET "io_SDR_DQ[1]" LOC = P144;
NET "io_SDR_DQ[2]" LOC = P143;
NET "io_SDR_DQ[3]" LOC = P141;
NET "io_SDR_DQ[4]" LOC = P140;
NET "io_SDR_DQ[5]" LOC = P139;
NET "io_SDR_DQ[6]" LOC = P138;
NET "io_SDR_DQ[7]" LOC = P137;
NET "io_SDR_DQ[8]" LOC = P147;
NET "io_SDR_DQ[9]" LOC = P148;
NET "io_SDR_DQ[10]" LOC = P149;
NET "io_SDR_DQ[11]" LOC = P150;
NET "io_SDR_DQ[12]" LOC = P152;
NET "io_SDR_DQ[13]" LOC = P154;
NET "io_SDR_DQ[14]" LOC = P155;
NET "io_SDR_DQ[15]" LOC = P156;
NET "o_SDR_A[0]" LOC = P124;
NET "o_SDR_A[1]" LOC = P123;
NET "o_SDR_A[2]" LOC = P122;
NET "o_SDR_A[3]" LOC = P120;
NET "o_SDR_A[4]" LOC = P107;
NET "o_SDR_A[5]" LOC = P108;
NET "o_SDR_A[6]" LOC = P109;
NET "o_SDR_A[7]" LOC = P111;
NET "o_SDR_A[8]" LOC = P113;
NET "o_SDR_A[9]" LOC = P114;
NET "o_SDR_A[10]" LOC = P125;
NET "o_SDR_A[11]" LOC = P115;
NET "o_SDR_A[12]" LOC = P116;
NET "o_SDR_BA[0]" LOC = P128;
NET "o_SDR_BA[1]" LOC = P126;
NET "o_SDR_CASn" LOC = P132;
NET "o_SDR_CLK" LOC = P117;
NET "o_SDR_CSB" LOC = P130;
NET "o_SDR_DQM[0]" LOC = P135;
NET "o_SDR_DQM[1]" LOC = P119;
NET "o_SDR_RASn" LOC = P131;
NET "o_SDR_WEn" LOC = P133;
