

NET "i_USB_FLAGA" LOC = P85;
NET "i_USB_FLAGD" LOC = P74;
NET "io_USB_FD[0]" LOC = P95;
NET "io_USB_FD[1]" LOC = P96;
NET "io_USB_FD[2]" LOC = P97;
NET "io_USB_FD[3]" LOC = P100;
NET "io_USB_FD[4]" LOC = P93;
NET "io_USB_FD[5]" LOC = P90;
NET "io_USB_FD[6]" LOC = P87;
NET "io_USB_FD[7]" LOC = P86;
NET "io_USB_FD[8]" LOC = P71;
NET "io_USB_FD[9]" LOC = P68;
NET "io_USB_FD[10]" LOC = P67;
NET "io_USB_FD[11]" LOC = P65;
NET "io_USB_FD[12]" LOC = P64;
NET "io_USB_FD[13]" LOC = P63;
NET "io_USB_FD[14]" LOC = P62;
NET "io_USB_FD[15]" LOC = P61;
NET "io_USB_IFCLK" LOC = P94;
NET "i_USB_CLKOUT" LOC = P58;
NET "o_USB_FIFOADR[0]" LOC = P78;
NET "o_USB_FIFOADR[1]" LOC = P77;
NET "o_USB_SLOE" LOC = P79;
NET "o_USB_SLRD" LOC = P57;
NET "o_USB_SLWR" LOC = P52;
NET "o_USB_RESET" LOC = P72;

NET "i_USB_FLAGB" LOC = P81;
NET "i_USB_FLAGC" LOC = P80;
NET "o_USB_PktEND" LOC = P76;

NET "i_USB_FLAGB" PULLUP;
NET "i_USB_FLAGC" PULLUP;
