NET "GCLK" LOC = P184;
NET "VGA[0]" LOC = P10;
NET "VGA[1]" LOC = P2;
NET "VGA[2]" LOC = P205;
NET "VGA[3]" LOC = P204;
NET "VGA[4]" LOC = P203;
NET "VGA[5]" LOC = P200;
NET "VGA[6]" LOC = P199;
NET "VGA[7]" LOC = P198;
NET "VGA[8]" LOC = P197;
NET "VGA[9]" LOC = P196;

NET "VGA[HS]" LOC = P191;
NET "VGA[VS]" LOC = P194;
